

.CartItems{
    background-color: white;
    flex: 70%;
    margin-right: 15px;
  }
  .CartItems h1{
    text-align: left;
    margin: 15px;
  }
  .CartItem{
    display: flex;
  }
  .CartInfo{
    flex-grow: 1;
  }
  .CartTotal{
    background-color: white;
      flex: 30%;
  }